:root {
  --blue: 38, 119, 201;
  --blue-2: 57, 116, 189;
  --bg-white-off: 253, 251, 248;
  --bg-white-off-2: 255, 252, 247;
  --border-grey: 228, 228, 228;
  --bg-grey: 242, 242, 242;
  --bg-grey-2: 208, 208, 208;
  --bg-grey-hover: 219, 235, 251;
  --green: 5, 119, 5;
  --green-apple: 176, 247, 176;
  --fg-black: 95, 99, 104;
  --fg-black-disabled: 172, 176, 181;
  --ruby: 245, 46, 88;

  --black-1: 62, 62, 62;
  --black-2: 53, 53, 53;
  --black-3: 41, 41, 41;
}
