:root {
  --blue: #2677c9;
  --border-grey: #e4e4e4;
  --bg-grey: #f2f2f2;
  --bg-grey-hover: #dbebfb;
  --bg-yellow: #fff3e3;
  --bg-yellow-hover: #fafbdb;
  --green: #057705;
  --fg-black: #5f6368;
  --ruby: #f52e58;
}
